@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

.relative::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #fff;
  /* Background color */
  transition: right 0.3s;
  /* Adjust the duration as needed */
}

.relative.active::before {
  right: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.ag-ltr .ag-cell {
  border-right-width: 1px;
  border-right: 1px solid gray !important;
}
